<head th:fragment="head">

<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link type="text/ccs" th:href="@{/webjars/font-awesome/4.6.2/css/font-awesome.min.css}" rel="stylesheet" 
    href=".../.../webjars/font-awesome/4.6.2/css/font-awesome.min.css"></link>
<script src="/webjars/jquery/2.2.3/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link type="text/css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" href=".../.../css/bootstrap.min.css"></link>



<style type="text/css">
body{
    margin-top: 80px;
}

.panel-heading{
    font-size: 24px;
    min-height: 50px;
}
</style>
</head>