<nav class="navbar navbar-default navbar-fixed-top" th:fragment="navbar">
	<div class="container">
		<div class="navbar-header">

			<!-- Navbar button when device is too small -->
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#navHeader"
				aria-expanded="false">
				<span class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>

		</div>
		<div class="collapse navbar-collapse" id="navHeader">
			<a class="navbar-brand" href="#" th:href="@{/api/forwardcontainerview}"><i class="fa fa-arrow-left"></i> Container Overview</a>
			<ul class="nav navbar-nav">
			
				<li th:if="${mapping}">
				    <a href="#mappingToolModal" data-toggle="modal" data-backdrop="false"><i
						class="fa fa-map-marker"></i> Mapping Tool</a>
				</li>
				<li th:unless="${mapping}">
				    <a href="#" th:href="@{/api/mapping/mappingtool}"><i
                        class="fa fa-map-marker"></i> Mapping Tool</a>
                </li>
                
                <li th:if="${mapping}">
                    <a href="#yourMappingsModal" data-toggle="modal" data-backdrop="false"><i
                        class="fa fa-user"></i> Your Mappings</a>
                </li>
				<li th:unless="${mapping}">
				    <a href="#" th:href="@{/api/mapping/usermappingsadapter}"><i
						class="fa fa-user"></i> Your Mappings</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li th:if="${mapping}">
                    <a href="#approveMappingsModal" data-toggle="modal" data-backdrop="false"><i
                        class="fa fa-check"></i> Approve Mappings</a>
                </li>
				<li th:unless="${mapping}">
				    <a href="#" th:href="@{/api/mapping/approvemapping}"><i
						class="fa fa-check"></i> Approve Mappings</a>
			    </li>
			</ul>
		</div>
		<div th:replace="fragments/modals :: modals"></div>
	</div>
</nav>