<div th:fragment="modals">

    <!-- mapping-tool modal -->
	<div class="modal fade" id="mappingToolModal" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h3 class="modal-title">Warning</h3>
				</div>
				<div class="modal-body">
					<p>If you leave this page, the mapping information will be
						lost.</p>
					<p>Continue anyway?</p>
				</div>
				<div class="modal-footer">
				    <form action="/api/mapping/mappingtool" th:action="@{/api/mapping/mappingtool}">
					   <input type="submit" class="btn btn-primary col-md-4" value="Continue"></input>
				    </form>
				    
					<button type="button" class="btn btn-warning cold-md-4 pull-right" data-dismiss="modal">Cancel</button>
				</div>
			</div>

		</div>
	</div>
	
	<!-- your mappings modal -->
    <div class="modal fade" id="yourMappingsModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Warning</h3>
                </div>
                <div class="modal-body">
                    <p>If you leave this page, the mapping information will be
                        lost.</p>
                    <p>Continue anyway?</p>
                </div>
                <div class="modal-footer">
                    <form action="/api/mapping/usermappingsadapter" th:action="@{/api/mapping/usermappingsadapter}">
                       <input type="submit" class="btn btn-primary col-md-4" value="Continue"></input>
                    </form>
                    
                    <button type="button" class="btn btn-warning col-md-4 pull-right" data-dismiss="modal">Cancel</button>
                </div>
            </div>

        </div>
    </div>
    
    <!-- approve mappings modal -->
    <div class="modal fade" id="approveMappingsModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Warning</h3>
                </div>
                <div class="modal-body">
                    <p>If you leave this page, the mapping information will be
                        lost.</p>
                    <p>Continue anyway?</p>
                </div>
                <div class="modal-footer">
                    <form action="/api/mapping/approvemapping" th:action="@{/api/mapping/approvemapping}">
                       <input type="submit" class="btn btn-primary col-md-4" value="Continue"></input>
                    </form>
                    
                    <button type="button" class="btn btn-warning col-md-4 pull-right" data-dismiss="modal">Cancel</button>
                </div>
            </div>

        </div>
    </div>
</div>