<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body onload="hasAccess()">
	<div th:replace="fragments/header :: navbar"></div>

	<div id="approve-content" class="container main-container">
		<h2 style="padding-bottom: 40px;">Approve Mappings</h2>
		<form action="/api/mapping/updatemappings" th:action="@{/api/mapping/updatemappings}" th:object="${approveMappingModel}" method="POST">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>RTOG</th>
					<th>ROI</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="suggestedMapping, rowStat : ${approveMappingModel.mappingEntryModelList}">
					<td th:text="${suggestedMapping.rtog}">&lt;Missing&gt;</td>
					<td th:text="${suggestedMapping.roi}">&lt;Missing&gt;</td>
					<td>
					    <select class="form-control" th:field="${approveMappingModel.mappingEntryModelList[__${rowStat.index}__].approveLevel}">
                            <option th:value="0">Do Nothing</option>
                            <option th:value="1">Dismiss</option>
                            <option th:value="2">Approve</option>
                        </select>
                        
                        <!-- Save Rtog for re-use -->
                        <div hidden="true">
                            <select th:field="${approveMappingModel.mappingEntryModelList[__${rowStat.index}__].rtog}">
                                <option th:value="${suggestedMapping.rtog}">RTOG</option>
                            </select>
                        </div>
                        
                        <!-- Save Roi for re-use -->
                        <div hidden="true">
                            <select th:field="${approveMappingModel.mappingEntryModelList[__${rowStat.index}__].roi}">
                                <option th:value="${suggestedMapping.roi}">ROI</option>
                            </select>
                        </div>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="col-md-12">
            <input type="submit" value="Update" class="btn btn-success" style="margin-bottom: 20px; margin-top: 20px;"></input>
        </div>
		</form>
		
		<!-- Error Message -->
        <div th:if="${error != null}" class="alert alert-danger col-md-12">
            <strong>Error!</strong> <p th:text="${error}"></p>
        </div>
	</div>
	<div id="access-denied" class="alert alert-danger col-md-12">
	   <strong>Error!</strong> <p>Access denied. Not enough permissions</p>
	</div>
	
	<script type="text/javascript">
	   function hasAccess(){
		   var role = sessionStorage.getItem('userRole');

		   document.getElementById('approve-content').style.visibility = "visible";
		   document.getElementById('access-denied').style.visibility = "hidden";
		   if (role != "ROLE_ADMIN"){
			   document.getElementById('approve-content').style.visibility = "hidden";
			   document.getElementById('access-denied').style.visibility = "visible";
		   }
	   }
	</script>
</body>
</html>