<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body>
	<div th:replace="fragments/header :: navbar"></div>
	
	<div class="container main-container">
		<div class="alert alert-danger">
			<strong>Error!</strong> <p th:text="${error}"></p>
		</div>
	</div>
</body>
</html>