<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body onload="saveUserInfo()">
	<div th:replace="fragments/header :: navbar"></div>
	<div class="container main-container">
	<form action="/api/mapping/validatemapping" th:action="@{/api/mapping/validatemapping}" th:object="${mappingModel}" method="POST">
		<div class="panel panel-default">
			<div class="panel-heading">
			     <div class="col-md-4"><p>RTOG</p></div>
			     <div class="col-md-4"><p>ROI</p></div>
			     <div class="col-md-4">
			         <p>Mapping Option 
			         <a title="Suggest: suggest mapping to RMO and stores as personal mapping&#13;&#10;
			         Store: stores as personal mapping&#13;&#10;
			         Map Once: map, but don't store the mapping"><i class="fa fa-info-circle"></i></a>
			         </p>
			     </div>
			</div>
			<div class="panel-body" th:each="rtog, rowStat : ${rtogs}">
			
				<div class="col-md-4">
					<p th:text="${rtog}" style="font-size: 18px;">RTOG</p>
				</div>
				
				<div class="col-md-4">
					<select class="form-control" th:field="*{mappingList[__${rowStat.index}__].roi}" 
					   th:onchange="'javascript:grey(this, \'' + ${rowStat.index} + '\');'">
				        <option th:each="roi : ${rois}" th:text="${roi}" th:value="${roi}">ROI</option>
				        <option th:text="${NotPresent}" th:value="${NotPresent}">ROI</option>
				    </select>
				</div>
				
				<div class="col-md-4">
                    <select class="form-control" th:id="${'mapping-option-' + (rowStat.index)}" 
                        th:field="*{mappingList[__${rowStat.index}__].mappingLevel}">
                        <option th:value="0">Map Once</option>
                        <option th:value="1">Store Mapping</option>
                        <option th:value="2">Suggest Mapping</option>
                    </select>
                </div>
                
				<!-- Pssst! Super secretly saving the rtogs for later use. Don't tell anyone!! -->
				<div hidden="true">
				    <select class="form-control" th:field="*{mappingList[__${rowStat.index}__].rtog}">
                        <option th:text="${rtog}" th:value="${rtog}">ROI</option>
                    </select>
				</div>
			</div>
		</div>
		
		<!-- Filling ROI list -->
	    <div hidden="true" th:each="roi, rowStat : ${rois}">
	       <select class="form-control" th:field="*{roiList[__${rowStat.index}__]}">
	           <option th:text="${roi}" th:value="${roi}">ROI</option>
	       </select>
	    </div>
	    
	    <!-- Transfering userId -->
        <div hidden="true">
           <select class="form-control" th:field="*{userId}">
               <option th:text="${userId}" th:value="${userId}">ROI</option>
           </select>
        </div>
        
        <!-- Transfering managerName -->
        <div hidden="true">
           <select class="form-control" th:field="*{managerName}">
               <option th:text="${managerName}" th:value="${managerName}">ROI</option>
           </select>
        </div>
        
        <!-- Transfering containerId -->
        <div hidden="true">
           <select class="form-control" th:field="*{containerId}">
               <option th:text="${containerId}" th:value="${containerId}">ROI</option>
           </select>
        </div>
        
        <!-- Filling preMapped list -->
        <div hidden="true" th:each="mappingEntry, rowStat : ${preMappedList}">
           <select class="form-control" th:field="*{preMappedList[__${rowStat.index}__].rtog}">
               <option th:value="${mappingEntry.rtog}">RTOG</option>
           </select>
           <select class="form-control" th:field="*{preMappedList[__${rowStat.index}__].roi}">
               <option th:value="${mappingEntry.roi}">ROI</option>
           </select>
        </div>
        
		<div class="col-md-12">
            <input type="submit" value="Map!" class="btn btn-success map-button" style="margin-bottom: 20px;"></input>
        </div>
		</form>
		
		<!-- Error Message -->
		<div th:if="${error != null}" class="alert alert-danger col-md-12">
            <strong>Error!</strong> <p th:text="${error}"></p>
        </div>
	</div>
	
	<script type="text/javascript">
    
	function grey(option, index){
        var mappingId = "mapping-option-" + index;
        if (option.value == "NotPresent"){
            document.getElementById(mappingId).disabled = true;
            document.getElementById(mappingId).value = 0;
        }
        else {
            document.getElementById(mappingId).disabled = false;
        }
    }
    </script>
    
    <script th:inline="javascript">
	    /*<![CDATA[*/
	
	    //Remove this code at a later stage when actual OAUTH2 security is added
	    function saveUserInfo(){
	    	
	        var userId = /*[[${userId}]]*/ '00000';
	        var userRole = /*[[${userRole}]]*/ 'ANONYMOUS';
	        
	        sessionStorage.setItem('userId', userId);
	        sessionStorage.setItem('userRole', userRole);
	    }
    /*]]>*/
    </script>
</body>
</html>