<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body onload="hasAccess()">
    <div th:replace="fragments/header :: navbar"></div>

    <div id="approve-content" class="container main-container">
        <h2 style="padding-bottom: 40px;">Your Mappings</h2>
        
	    <form action="/api/mapping/deleteusermapping" th:action="@{/api/mapping/deleteusermapping}" 
	       th:object="${userMapping}" method="POST">
	       <div class="col-md-10">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>RTOG</th>
                    <th>ROI</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="mapping, rowStat : ${userMapping.mappingEntryModelList}">
                    <td th:text="${mapping.rtog}">&lt;Missing&gt;</td>
                    <td th:text="${mapping.roi}">&lt;Missing&gt;</td>
                    <td>
                        <div class="checkbox">
                            <label><input type="checkbox" th:field="${userMapping.mappingEntryModelList[__${rowStat.index}__].delete}" 
                                th:value="1"></input>Delete Mapping</label>
                        </div>
                        
                        <!-- Save Rtog for re-use -->
                        <div hidden="true">
                            <select th:field="${userMapping.mappingEntryModelList[__${rowStat.index}__].rtog}">
                                <option th:value="${mapping.rtog}">RTOG</option>
                            </select>
                        </div>
                        
                        <!-- Save Roi for re-use -->
                        <div hidden="true">
                            <select th:field="${userMapping.mappingEntryModelList[__${rowStat.index}__].roi}">
                                <option th:value="${mapping.roi}">ROI</option>
                            </select>
                        </div>
                        
                        <!-- Save UserId for re-use -->
                        <div hidden="true">
                            <select th:field="${userMapping.mappingEntryModelList[__${rowStat.index}__].userId}">
                                <option th:value="${mapping.userId}">USERID</option>
                            </select>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
        <div class="col-md-2">
            <input type="submit" value="Update" class="btn btn-success btn-lg pull-right" style="margin-top: 40px;"></input>
        </div>
        </form>
        
        <!-- Error Message -->
        <div th:if="${error != null}" class="alert alert-danger col-md-12">
            <strong>Error!</strong> <p th:text="${error}"></p>
        </div>
        
        <div id="access-denied" class="alert alert-danger col-md-12">
            <strong>Error!</strong> <p>Access denied. Not enough permissions</p>
        </div>
    </div>
    
    <script type="text/javascript">
       function hasAccess(){
           var role = sessionStorage.getItem('userRole');

           document.getElementById('approve-content').style.visibility = "visible";
           document.getElementById('access-denied').style.visibility = "hidden";
           if (!(role == "ROLE_ADMIN" || role == "ROLE_USER")){
               document.getElementById('approve-content').style.visibility = "hidden";
               document.getElementById('access-denied').style.visibility = "visible";
           }
       }
    </script>
</body>
</html>